*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1200px;
  margin: 30px auto;
}
.gallery{
  color: red;
  font-size: 50px;
  &__cards{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card{
    margin-top: 20px;
    border: 2px solid black;
  }
  &__img, &__audio, &__video{
    width: 300px;
    height: 300px;
  }
  &__text{
    padding: 5px;
    text-align: center;
  }
}